.HeaderBox {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0px 40px;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #202024;
  transition: 0.3s;
  z-index: 99;
  .MenuBox {
    position: absolute;
    right: 10%;

    h2 {
      cursor: pointer;
    }

    span {
      margin: 15px;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 4px solid orange;
      cursor: pointer;
    }
  }
}
