.InformationBox {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .CategoryText {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 2px black;
  }

  // 내용물을 감싸는 div의 속성
  .ContentArea {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;

    .MiddleBox {
      display: flex;

      .Introduce {
        width: 65%;

        .TopArea {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 150px;
            height: 150px;
            padding: 10px;
            object-fit: contain;
          }

          .MyInformation {
            width: 75%;

            div {
              margin: 10px 0px;
              .Info {
                width: 80px;
              }

              span {
                display: inline-block;
              }

              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }

        .BottomArea {
          display: flex;
          flex-wrap: wrap;

          span {
            display: block;
            margin: 5px 0px;
            font-size: 14px;
          }

          span:first-child {
            font-size: 16px;
            font-weight: bold;
          }

          // 학력사항
          .EduLevel {
            width: 50%;
            margin: 10px;
            margin-left: 0px;

            ul {
              li {
                .SchoolName {
                  display: inline;
                  width: 200px;
                }

                // 입학-졸업년도
                .Years {
                  width: 20%;
                  display: inline;
                  font-weight: 500;
                }
              }
            }
          }

          .AwardList {
            width: 30%;
            margin: 10px;
            margin-left: 0px;
          }

          // 기술스택 div
          .TechnicalStack {
            width: 100%;
            display: flex;
            .TechnicalListBox {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 150px;
              border-radius: 10px;
              min-height: 150px;
              box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
              margin: 0px 10px;
              transition: 0.3s;

              // Skill의 이미지.
              img {
                width: 50%;
                height: 50%;
              }

              // Skill의 이름.
              span {
                margin-top: 15px;
                font-weight: bold;
                font-size: 16px;
              }
            }

            .TechnicalListBox:first-child {
              margin-left: 0px;
            }
          }
        }
      }

      .competencies {
        position: relative;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
        margin-left: 20px;
        padding: 0px 20px;

        .PointText {
          position: absolute;
          top: 0;
          left: 10px;
        }
      }
    }
  }
}
