// PC version
@media screen and (min-width: 768px) {
.MainPageBox {
  background-color: #202024;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  // 텍스트 박스
  .TextBox {
    width: 60%;
    margin: 0px 0px 160px 80px;
    span {
      display: block;
      font-size: 128px;
      line-height: 140px;
      color: transparent;
      font-weight: bold;
      margin-bottom: 20px;
      -webkit-text-stroke: 2px white;
    }
  }

  .IconBox {
    position: absolute;
    left: 50%;
    bottom: 3%;
    .Icon {
      font-size: 2em;
      color: white;
      cursor: pointer;
      animation: Blink 2s infinite;
    }
  }

  .UpButton {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    border: none;
    font-weight: 700;
    transition: all 0.3s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

}

@keyframes Blink {
  50% {
    opacity: 0.3;
  }
}
}

// mobile version
@media screen and (max-width: 768px) {
  .MainPageBox {
    background-color: #202024;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    // 텍스트 박스
    
    .TextBox {
      margin: 0px 0px 70px 15px;
      span {
        display: block;
        font-size: 48px;
        line-height: 60px;
        color: transparent;
        font-weight: bold;
        margin-bottom: 20px;
        -webkit-text-stroke: 2px white;
      }
    }
  
    .IconBox {
      position: absolute;
      left: 48%;
      bottom: 3%;
      .Icon {
        font-size: 2em;
        color: white;
        cursor: pointer;
        animation: Blink 2s infinite;
      }
    }

    .UpButton {
      border: 1px solid black;
      z-index: 100;
      position: fixed;
      right: 30px;
      bottom: 30px;
      border-radius: 100%;
      border: none;
      font-weight: 700;
      transition: all 0.3s;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
  
  @keyframes Blink {
    50% {
      opacity: 0.3;
    }
  }
}