// PC version
@media screen and (min-width: 768px) {
.MainPageBox {
  background-color: #202024;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  // 텍스트 박스
  .TextBox {
    width: 60%;
    margin: 0px 0px 160px 80px;
    span {
      display: block;
      font-size: 128px;
      line-height: 140px;
      color: transparent;
      font-weight: bold;
      margin-bottom: 20px;
      -webkit-text-stroke: 2px white;
    }
  }

  // Git / Velog 사이트로 이동할 수 있는 버튼 div
  .InfoButtonBox {
    position: absolute;
    left: 80px;
    bottom: 100px;
    display: flex;

    .Button {
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(49, 64, 82);
      padding: 10px;
      width: 130px;
      height: 30px;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: 0.3s;

      .Icons {
        font-size: 24px;
        margin-right: 5px;
      }

      h4 {
        font-size: 20px;
      }
    }

    .Button:nth-child(2) {
      background-color: rgb(53, 223, 166);
    }

    .Button:hover {
      box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .IconBox {
    position: absolute;
    left: 50%;
    bottom: 3%;
    .Icon {
      font-size: 2em;
      color: white;
      cursor: pointer;
      animation: Blink 2s infinite;
    }
  }
}

@keyframes Blink {
  50% {
    opacity: 0.3;
  }
}
}

// mobile version
@media screen and (max-width: 768px) {
  .MainPageBox {
    background-color: #202024;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    // 텍스트 박스
    .TextBox {
      margin: 0px 0px 70px 15px;
      span {
        display: block;
        font-size: 48px;
        line-height: 60px;
        color: transparent;
        font-weight: bold;
        margin-bottom: 20px;
        -webkit-text-stroke: 2px white;
      }
    }
  
   
    .IconBox {
      position: absolute;
      left: 48%;
      bottom: 3%;
      .Icon {
        font-size: 2em;
        color: white;
        cursor: pointer;
        animation: Blink 2s infinite;
      }
    }
  }
  
  @keyframes Blink {
    50% {
      opacity: 0.3;
    }
  }
}