.ProjectBox {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .ProjectArea {
    display: flex;
    width: 90%;

    // h2
    .CategoryText {
      position: absolute;
      top: 0;
      font-size: 60px;
      color: transparent;
      -webkit-text-stroke: 2px black;
    }

    // 프로젝트 리스트 박스.
    .ProjectListBox {
      margin-top: 20px;
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: flex-start;

      .ListForm {
        border-radius: 10px;
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 400px;
        background-color: rgb(69, 152, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        img {
          width: 200px;
          height: 200px;
        }

        .BottomArea {
          background-color: rgb(219, 219, 219);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 100%;
          height: 150px;
          display: flex;
          flex-direction: column;

          // 텍스트 영역.
          .TextArea {
            h3 {
              display: inline-block;
              border: 1px solid black;
              padding: 10px;
            }

            span {
              padding: 10px;
              font-size: 14px;
            }
          }

          // 버튼 영역
          .ButtonBox {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-top: 20px;
            width: 100%;

            button {
              cursor: pointer;
              width: 125px;
              height: 30px;
              background-color: rgb(38, 173, 218);
              border: none;
              border-radius: 20px;
              box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.3);
              margin: 0 5px;
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
