.ProjectBox {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .ProjectArea {
    margin-top: 160px;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;

    // h2
    .CategoryText {
      position: absolute;
      top: 0;
      font-size: 60px;
      color: transparent;
      -webkit-text-stroke: 2px black;
    }

    // 프로젝트 리스트 박스.
    .ProjectListBox {
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      

      // Project 소개하는 form 스타일
      .ListForm {
        cursor: pointer;
        transition: .7s;
        border-radius: 10px;
        min-width: 350px;
        max-width: 350px;
        min-height: 500px;
        background-color: royalblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;

        img {
          width: calc(100% - 20px);
          object-fit: cover;
        }

        .BottomArea {
          width: 100%;
          height: 100px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: rgb(84, 94, 179);
      
          .TextArea {
            margin-top: 20px;
            padding: 0px 10px;
            color: white;
            
            h2 {
              display: inline;
            }

            span {
              margin-top: 20px;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              color: #ffffff;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
